<div class="swiper-slide">
	<div class="1">
		1
	</div>
</div>
<div class="swiper-slide">
	<div class="6">
		9
	</div>
</div>
<div class="swiper-slide">
	<div class="5">
		8
	</div>
</div>
<div class="swiper-slide">
	<div class="4">
		7
	</div>
</div>
<div class="swiper-slide">
	<div class="3">
		6
	</div>
</div>
<div class="swiper-slide">
	<div class="2">
		5
	</div>
</div>
<div class="swiper-slide">
	<div class="9">
		4
	</div>
</div>
<div class="swiper-slide">
	<div class="8">
		3
	</div>
</div>
<div class="swiper-slide">
	<div class="7">
		2
	</div>
</div>